
$background-color: hsl(228, 33%, 97%);
$special-color: hsl(238, 40%, 52%);
$primary-color: hsl(211, 10%, 45%);
$delete-color: hsl(358, 79%, 66%);
$article-color: hsl(0, 0%, 100%);
$vertical-line-color: hsl(223, 19%, 93%);
$textarea-color: hsl(223, 19%, 93%);
$you-tag: #ffffff;